@use "utils" as *;

main {
  font-family: var(--fontPrimary);

  h2 {
    font-size: rem(40);

    @include breakpoint-down(medium) {
      font-size: rem(28);
    }
  }

  h3 {
    font-size: rem(28);

    @include breakpoint-down(medium) {
      font-size: rem(20);
    }

    span {
      display: initial;

      @include breakpoint-down(medium) {
        display: block;
      }
    }
  }

  p {
    font-size: rem(16);
    line-height: 1.8;
  }
}

//FIRST SECTION

.first-section {
  position: relative;
  overflow: hidden;
  padding: rem(120) 17rem 22rem 17rem;

  @include breakpoint-down(medium) {
    padding: 50px 20px;
  }

  h2 {
    text-align: center;
    color: var(--veryDarkBlue);
  }

  .img-mobile {
    display: none;

    @include breakpoint-down(medium) {
      display: initial;
      width: 100%;
    }
  }

  .img-desktop {
    display: block;
    position: absolute;
    left: 56%;
    top: 10%;

    @include breakpoint-down(medium) {
      display: none;
    }
  }

  .content__wrapper {
    @include breakpoint-down(medium) {
      text-align: center;
      margin-top: rem(40);
    }
  }

  .text__wrapper {
    width: 50%;
    text-align: left;

    @include breakpoint-down(medium) {
      width: 100%;
      text-align: center;
    }

    h3 {
      margin-top: rem(180);
      color: var(--veryDarkBlue);

      @include breakpoint-down(medium) {
        margin-top: rem(40);
      }
    }

    h3:nth-of-type(2) {
      margin-top: rem(80);

      @include breakpoint-down(medium) {
        margin-top: rem(40);
      }
    }

    p {
      color: var(--veryDarkGrayishBlue);
    }
  }
}

// MIDDLE SECTION

.middle-section {
  background: url("../images/bg-pattern-circles.svg") no-repeat,
    linear-gradient(to right, var(--bodyGradientStart), var(--bodyGradientEnd));
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  border-top-right-radius: rem(100);
  border-bottom-left-radius: rem(100);
  height: 410px;

  @include breakpoint-down(medium) {
    padding: 50px 20px;
    height: 600px;
  }

  @include breakpoint-down(medium) {
    margin-top: 200px;
    flex-direction: column;
  }

  span {
    display: initial;

    @include breakpoint-down(medium) {
      display: block;
    }
  }

  .img__wrapper {
    flex: 1;

    @include breakpoint-down(medium) {
    }
  }

  .text__wrapper {
    color: var(--white);
    flex: 1;

    @include breakpoint-down(medium) {
      padding-right: 0;
      text-align: center;
      margin-top: -50px;
    }

    p {
      padding-right: rem(150);

      @include breakpoint-down(medium) {
        padding-right: 0;
      }
    }
  }

  img {
    margin-left: 220px;

    @include breakpoint-down(medium) {
      margin-left: 0;
      margin-top: -180px;
      width: 100%;
    }
  }
}

// THIRD SECTION

.bottom-section {
  position: relative;
  overflow: hidden;
  padding: rem(120) rem(150) 22rem 17rem;

  @include breakpoint-down(medium) {
    padding: 50px 20px;
  }

  h2 {
    text-align: center;
    color: var(--veryDarkBlue);
  }

  .img-mobile {
    display: none;

    @include breakpoint-down(medium) {
      display: initial;
      width: 100%;
    }
  }

  .img-desktop {
    display: block;
    position: absolute;
    left: -200px;
    top: 10%;

    @include breakpoint-down(medium) {
      display: none;
    }
  }

  .content__wrapper {
    display: flex;

    @include breakpoint-down(medium) {
      display: initial;
      text-align: center;
      margin-top: rem(40);
    }
  }

  .text__wrapper {
    width: 100%;
    text-align: left;
    margin-left: 50%;

    @include breakpoint-down(medium) {
      text-align: center;
      margin-left: 0;
    }

    h3 {
      margin-top: rem(180);
      color: var(--veryDarkBlue);

      @include breakpoint-down(medium) {
        margin-top: rem(40);
      }
    }

    h3:nth-of-type(2) {
      margin-top: rem(80);

      @include breakpoint-down(medium) {
        margin-top: rem(40);
      }
    }

    p {
      color: var(--veryDarkGrayishBlue);
    }
  }
}
